@model Website.Models.User
<!DOCTYPE html>
@{

    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


    <div class=" row">
        <div class="col-md-10" style="color:white">

            <center><p style="margin-top:150px; "><h1>Log In</h1></p></center>
            <section>
                <form class="form-horizontal" method="post" action="~/Admin/Product">

                    <fieldset>
                        <legend> </legend>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="email" style="color:white">Email</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" id="email" name="email" placeholder="e.g. example@domain.com" type="email" value="" required=""/>
                                <span class="field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>

                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="password" style="color:white">Password</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" id="password" name="password" placeholder="Password" type="password" value="" required="" />
                                <span class="field-validation-valid" data-valmsg-for="password" data-valmsg-replace="true"></span>

                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="login"></label>
                            <div class="col-md-4">
                                <input type="submit" id="login" name="login" class="btn btn-info btn-lg btn-block" value="login" />
                            </div>
                        </div>
                        <br />
                        <p class="text-center">
                            <a href="~/User/Register">Register an Account?</a>
                        </p>
                    </fieldset>
                </form>
            </section>

        </div>
        <div class="col-md-2" style="margin-top:100px">
            <div class="well sidebar-nav-fixed">
                <label class="nav-header">  Menu</label>
                <ul>
                    <!--<li class="nav-header">  <a>Menu</a></li>-->
                    <li> <a href="~/Products/Pizza">Pizzas</a></li>
                    <li> <a href="~/Products/Burgers">Burgers</a></li>
                    <li> <a href="~/Products/Fries">Fries</a></li>
                    <li> <a href="~/Products/Deals">Deals</a></li>

                </ul>
                <img src="~/images/deal3_03.png" width="175" height="150" />
                <img src="~/Deals/Pizza-Deals_image.png" width="175" height="150" />

            </div>

        </div>
    </div>
    