
<!DOCTYPE html>
@{
   
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class=" row">
    <div class="col-md-10" style="color:white">
        <img src="~/images/14150-rs.jpg" style="margin-top:100px" width="1200px" />
        <center><p style="margin-top:40px"><h1>About Us </h1></p></center>
        <p style="color:white ; font-size:large; margin:10px">Online Fast Food Shop will be a website with interactive user interface. User will have to  login in order to place his/her order or buy product. After placing order he/she will be presented with a receipt.</p><br />


    </div>

    <div class="col-md-2" style="margin-top:100px">
        <div class="well sidebar-nav-fixed">
            <label class="nav-header">  Menu</label>
            <ul>
                <!--<li class="nav-header">  <a>Menu</a></li>-->
                <li> <a href="~/Products/Pizza">Pizzas</a></li>
                <li> <a href="~/Products/Burgers">Burgers</a></li>
                <li> <a href="~/Products/Fries">Fries</a></li>
                <li> <a href="~/Products/Deals">Deals</a></li>
            </ul>
            <img src="~/images/deal3_03.png" width="175" height="150" />
            <img src="~/Deals/Pizza-Deals_image.png" width="175" height="150" />

        </div>

    </div>
</div>
